 <!--Users Navbar Start-->

<div class="container-fluid">
  <div class="row userNavBar">

 <div class="myFlex">
  <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 categories myLinks center">
  <li class="dropdown liDotRemove">
    <a href="#" class="dropdown-toggle categories center" data-toggle="dropdown" role="button" aria-haspopup="true"
      aria-expanded="false">
    <div class="col-xs-2">
      <button type="button" class="categoriesButton collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <svg  class="bi bi-list" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"  viewBox="0 0 16 16">
          <path style="stroke-width: 2; " fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
      </button>
    </div>
      <div class="col-xs-10">
      All Categories
    </div>
    </a>
    <ul class="dropdown-menu">

      <li class="dropdown-submenu">
        <a href="http://localhost:3050/shop/category/meat&fish" class="firstLevel"><img src="../../images/01.png" width="25"
            height="20" alt="Meat & Fish"> Meat & Fish </a>
        <!-- <ul class="dropdown-menu">
          <li><a href="#" class="subMenuLinkText secondLevel"> <span class="secondLevelText">
                <strong> Glass Cleaner (7) </strong> </span> </a></li>
        </ul> -->
      </li>
      <hr class="dropdownDivider">

      <li class="dropdown-submenu">
        <a href="http://localhost:3050/shop/category/Dairy" class="firstLevel"> <img src="../../images/02.png" width="25" height="20"
            alt="Dairy"> Dairy </a>
      </li>
      <hr class="dropdownDivider">

      <li class="dropdown-submenu">
        <a href="http://localhost:3050/shop/category/Bevereges" class="firstLevel"> <img src="../../images/02.png" width="25" height="20"
            alt="Dairy"> Bevereges </a>
      </li>
      <hr class="dropdownDivider">

      <li class="dropdown-submenu">
        <a  href="http://localhost:3050/shop/category/Vegetables&fruit" class="firstLevel "> <img src="../../images/04.png" width="25"
            height="20" alt="Vegetables and fruit"> Vegetables and fruit</a>
        <!-- <ul class="dropdown-menu">
          <li><a  href="#" class="subMenuLinkText secondLevel"> <span class="secondLevelText">
                <strong> Macks (8) </strong> </span> </a></li>
          <li><a  href="#" class="subMenuLinkText secondLevel"> <span class="secondLevelText">
                <strong> Windows (2) </strong> </span> </a></li>
        </ul> -->
      </li>
      <hr class="dropdownDivider">

      <li class="dropdown-submenu">
        <a  href="http://localhost:3050/shop/category/Freezer" class="firstLevel "> <img src="../../images/05.png" width="25"
            height="20" alt="Freezer">Freezer </a>
        <!-- <ul class="dropdown-menu">
          <li><a  href="#" class="subMenuLinkText secondLevel"> <span class="secondLevelText">
                <strong> Mice and Trackballs (0) </strong> </span></a></li>
          <li><a  href="#" class="subMenuLinkText secondLevel"> <span class="secondLevelText">
                <strong> Printers (12) </strong> </span></a></li>
          <li><a  href="#" class="subMenuLinkText secondLevel"> <span class="secondLevelText">
                <strong> Scanners (6) </strong> </span></a></li>
          <li><a  href="#" class="subMenuLinkText secondLevel"> <span class="secondLevelText">
                <strong> Vegtables (26) </strong> </span></a></li>
        </ul> -->
      </li>
      <hr class="dropdownDivider">

      <li class="dropdown-submenu">
        <a  href="http://localhost:3050/shop/category/Bread&breadspreads" class="firstLevel"> <img src="../../images/06.png" width="25" height="20"
            alt="Bread & bread spreads"> Bread & bread spreads </a>
      </li>
      <hr class="dropdownDivider">

      <li class="dropdown-submenu">
        <a  href="http://localhost:3050/shop/category/DriedGoods" class="firstLevel"> <img src="../../images/07.png" width="25" height="20"
            alt="Dried Goods"> Dried Goods </a>
      </li>
      <hr class="dropdownDivider">

      <li class="dropdown-submenu">
        <a href="http://localhost:3050/shop/category/Snacks" class="firstLevel"> <img src="../../images/08.png" width="25" height="20"
            alt="Snacks"> Snacks </a>
      </li>
      <hr class="dropdownDivider">

      <li class="dropdown-submenu">
        <a  href="http://localhost:3050/shop/category/CareProducts" class="firstLevel"> <img src="../../images/09.png" width="25" height="20"
            alt="Care Products"> Care Products </a>
      </li>


    </ul>
  </li>
</div> 
  <div class="col-lg-6 col-md-8 hidden-sm hidden-xs">
        <div><a class="myLinks col-xs-2 " href="http://localhost:3050/shop/home"> Home</a></div>
        <div><a class="myLinks col-xs-2 " href="http://localhost:3050/shop/faqs"> FAQs</a></div>
        <div><a class="myLinks col-xs-2 " href="http://localhost:3050/shop/specials"> Specials</a></div>
        <div><a class="myLinks col-xs-2 " href="http://localhost:3050/shop/about"> About</a></div>
        <div><a class="myLinks col-xs-2 " href="http://localhost:3050/shop/contact"> Contact us</a></div>
  </div>
</div>
  </div>
</div>
<!-- Navbar End-->
