.userNavBar{
  background-color: #000068;
  padding: 10px 8px;
  
}
.liDotRemove{   
  list-style-type: none; 
}

.categoriesButton ,.categoriesButton:focus { 
  padding: 0;
  border: none;
  background: none;
  outline: none; }
  
  .myFlex{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
  }
  
  .categories{
    color: white;
    font-weight: bold;
    font-size: 1.1em;
  }
  
  .myLinks{
    color: white !important;
    text-decoration: none !important;
    outline: none !important;
  }
  
  .myLinks:visited, .myLinks:hover, .myLinks:active, .myLinks:focus {
    color: white !important;
    text-decoration: none !important;
    outline: none !important;
  }
  
  
  .categories:visited, .categories:hover, .categories:active, .categories:focus {
    color: white !important;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none !important;
    outline: none !important;
    
  }
  
  /* submenue start */
  
  .dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
  }
  
  @media(min-width: 768px){
    
    .dropdown-menu>li>.firstLevel {
      width: 250px;
      padding-top: 10px !important; 
      padding-bottom: 10px !important; 
    }
    
    .dropdown-menu>li>.secondLevel {
      width: 100%;
      padding-top: 10px !important; 
      padding-bottom: 10px !important; 
    }
    .haveChildrenCategories:hover::after{
      position: absolute;
      right: 10px;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: "\f105";
    }
    
  }
  
  @media(max-width: 768px){
    .navbar-toggle {
      display: inline-block;
    }
    .dropdown-menu>li>.firstLevel {
      padding-top: 10px !important; 
      padding-bottom: 10px !important; 
    }
    
    .dropdown-menu>li{
      background-color: white !important;
      margin: 0px !important;
      margin-right: 10% !important;
    }
    
    .dropdownDivider {
      width: 90%;
      margin: 0px;
      padding: 0px;
    }
    
    .dropdown-menu>li>.secondLevel {
      width: 100%;
      padding-top: 10px !important; 
      padding-bottom: 10px !important; 
    }
    .secondLevelText {
      margin-left: 7%;
    }
  }
  .dropdownDivider {
    margin: 0px;
    padding: 0px;
  }
  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
  }
  
  .subMenuLinkText {
    font-size: 14px;
    font-weight: bold;
  }
  
  /* submenue end */
  
  
  .haveChildrenCategories::after {
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    content: "\f107";
    right: 10px;
    font-weight: bold;
    color: rgb(161, 163, 165);
  }