.loginDiv {
    margin-bottom: 50px;
}

#askForRegister {
    color: black;
}

.loginBtn {
    background-color: #000068;
    color: white;
    transition: 0.3s;
    padding: 10px 0px !important;
    font-size: 15px !important;
    margin-bottom: 15px !important;
}

.loginBtn:hover {
    color: white !important;
    background-color: #020242;
}

#registerBtn {
    color: #000068 !important;
    cursor: pointer;
    text-decoration: underline;
}